<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="home.css">
    <title>Ratnasmriti Gems & Jewellers</title>
    <link rel="icon" href="images/logo.ico" type="image/x-icon">
</head>

<body>
    <div class="total_body">
        <div class="top_nav">
            <div class="title">
                <h2 style="font-family: Plus Jakarta Sans;">Ratnasmriti Gems & Jewellers</h2>
            </div>
            <div class="menu">
                <ul id="sidemenu">
                    <li><a href="{% url " landing_home" %}">Home</a></li>
                    <li><a href="{% url " landing_about" %}">About</a></li>
                    <li><a href="#">Catagory &dtrif;</a>
                        <ul class="dropdown">
                            <li><a href="#">Catagory 1</a></li>
                            <li><a href="#">Catagory 2</a></li>
                            <li><a href="#">Catagory 3</a></li>
                            <li><a href="#">Catagory 4</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url " landing_notice" %}">Contact US</a></li>

                </ul>
            </div>
            <i class="fas fa-bars" id="menuIcon"></i>
        </div>

        <div class="logo_title">
            <div class="logo"><img src="images/logo.jpeg" alt=""></div>
            <div class="logo_text">
                <h2 style="font-family: Plus Jakarta Sans;">Ratnasmriti Gems & Jewellers</h2>
            </div>
        </div>
        <div class="social_links">
            <a href="tel:+916291176902" title="Click Here to Call Us"><i class="fa-solid fa-square-phone"></i></a>
            <a href="https://www.facebook.com/rsjchannel/" target="_blank" title="Visit Our Facebook Page "><i
                    class="fa-brands fa-facebook"></i></a>
            <a href="https://youtu.be/Jgcmim_NTIM" target="_blank" title="Visite Our YouTube Channel"><i
                    class="fa-brands fa-youtube"></i></a>
            <a href="https://maps.app.goo.gl/4RfrmAmUnJcNtucw8" target="_blank"
                title="Click Here to See our Shop Location"><i class="fa-solid fa-location-dot"></i></a>
        </div>

        <div class="item_container">
            <div class="item_name">
                <h2>Item Name</h2>
            </div>
            <div class="item_pic"><img src="images/irani firoza.jpeg" alt=""></div>
            <div class="item_description">
                <div class="item_details">
                    <h2>Details</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis in facere id reprehenderit ullam
                    fuga voluptatibus totam doloribus eos iusto eum dolores architecto cumque libero numquam,
                    perspiciatis impedit adipisci qui! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quaerat facilis sint voluptas in ab illum assumenda nobis! Autem doloribus quos quam sunt
                    dolores quisquam placeat fugiat, consequuntur facere. Reiciendis, iste.
                    Tenetur ea quidem laborum fugit animi aliquam nihil vel facere amet consequuntur explicabo eius
                    commodi, qui architecto! Nemo quam, excepturi reiciendis laboriosam, animi, asperiores unde et
                    quo optio eaque atque?
                    Vitae, quas maxime velit recusandae laboriosam rerum nobis qui sint nihil iure voluptate
                    tempore, ut dolore doloribus illo dicta cupiditate nam ex, saepe omnis. Sapiente quaerat
                    nesciunt mollitia reiciendis aliquid.
                    Aspernatur illum dolores itaque optio, sapiente explicabo sequi voluptas delectus ut facilis
                    eius minus exercitationem vel officia. Dolore et ipsam eligendi cum eum itaque ad, consequuntur
                    deleniti expedita nihil eveniet!
                    Iste, quasi. Illum pariatur id fugit consectetur minus ducimus in maxime esse ullam obcaecati.
                    Esse saepe velit aliquam magnam ratione? Minima consequuntur facilis recusandae voluptas aliquam
                    eos odio fugit labore.
                    Rem consequuntur eum adipisci laborum minima nostrum vitae impedit facilis inventore quaerat
                    commodi accusamus consectetur illum quisquam nemo maxime quasi tempore, deserunt, nam quidem
                    possimus aliquid. Ab tempore ea ad.
                    Quis exercitationem praesentium aperiam error delectus optio ipsam incidunt atque saepe iusto
                    deleniti quam, at deserunt autem dolor necessitatibus officia sapiente nostrum sequi non
                    laboriosam. Animi reprehenderit aut unde asperiores?
                    Exercitationem, vero excepturi ipsam, libero eveniet possimus at et nemo in ea nulla fugit
                    accusamus, beatae eaque veritatis dolor iusto commodi autem quo facilis qui fuga provident?
                    Iusto, perferendis porro!
                    Odio, earum incidunt modi neque explicabo corporis quam eum fuga illum quibusdam nemo, velit
                    facilis sequi dolor obcaecati praesentium voluptatem hic fugit eos nihil dolore perspiciatis
                    aspernatur cum. Tenetur, quisquam?
                    Aliquam cum unde saepe maiores libero. Voluptas delectus obcaecati in itaque aperiam laudantium,
                    quisquam illo tempora officiis nemo ratione ipsum dolores reiciendis repellendus repellat eius
                    reprehenderit molestiae magnam excepturi perspiciatis.
                </div>
                <div class="item_benifits">
                    <h2>Benifits</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptatibus ratione,
                    odit, voluptate repudiandae veniam doloremque sit ipsam vel quo eum asperiores? Praesentium
                    excepturi error, eaque perspiciatis autem minus recusandae? Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Eum, animi quidem quod nihil sapiente laudantium! Quisquam fugit
                    sapiente optio dolores ad incidunt eligendi aperiam, quidem exercitationem quos pariatur
                    voluptas et!
                    Numquam tempore at dolores aspernatur praesentium quis. Molestiae, saepe veritatis. Animi
                    explicabo maxime, corrupti nostrum quia eaque? Obcaecati id, doloribus, deleniti quam modi rem
                    eligendi autem voluptas facilis, quidem debitis?
                    Deleniti aliquam alias id nulla. Laudantium eius maxime, nobis illo, accusantium optio, beatae
                    esse aliquid nostrum repellendus exercitationem! Voluptate sed, qui aliquam nam quo ipsum quod
                    illum. Alias, dolorum libero?
                    Laborum id culpa porro dolorem quia nesciunt? Nostrum laborum voluptates placeat, sint, rem qui
                    dicta libero vitae earum odio, animi obcaecati rerum eaque. Magni rem deleniti, labore earum
                    iusto velit!
                    Earum, nobis consequatur similique reiciendis ab in doloremque. Ratione sapiente error quam,
                    autem pariatur quae nihil sint voluptates expedita, laboriosam esse sed. Dolore laudantium eum
                    voluptatibus repellat eos modi numquam?
                    Laboriosam excepturi ipsa voluptatem earum ducimus cum mollitia aperiam assumenda doloremque?
                    Nulla unde in voluptatem facere laborum, officiis ipsa dolore deserunt ex beatae, aperiam
                    voluptates ducimus odit doloremque corrupti illum.
                    Nam, tempore mollitia. Eaque aliquam minima, aut odit ullam, neque obcaecati amet voluptatibus
                    reprehenderit labore a exercitationem ratione repudiandae aliquid nobis est iusto quam quos
                    blanditiis. Officia dignissimos accusantium aperiam.
                    Molestias delectus modi, ipsa sit laboriosam optio explicabo officia corrupti tempora
                    repellendus minus saepe quae suscipit aperiam facilis. Repudiandae deserunt fugit modi velit
                    tempora necessitatibus asperiores sequi quod dolore doloremque?
                    Inventore expedita commodi odit. Rerum accusamus saepe est aspernatur. Earum perspiciatis
                    tenetur, optio fuga placeat nesciunt distinctio? Doloribus, facere vero, ad ipsa repellat
                    deserunt itaque earum asperiores at eum sequi!
                    Repellat ratione nobis optio aperiam sit earum vitae, saepe quidem perferendis placeat iste
                    dolorem reiciendis? A quisquam enim, incidunt impedit suscipit, natus unde accusamus consequatur
                    aperiam beatae reiciendis! Iure, ducimus?
                </div>
            </div>
        </div>

    </div>
    <script src="home.js"></script>
</body>

</html>