<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="home.css">
    <title>Ratnasmriti Gems & Jewellers</title>
    <link rel="icon" href="images/logo.ico" type="image/x-icon">
</head>

<body>
    <div class="total_body">
        <div class="top_nav">
            <div class="title">
                <h2 style="font-family: Plus Jakarta Sans;">Ratnasmriti Gems & Jewellers</h2>
            </div>
            <div class="menu">
                <ul id="sidemenu">
                    <li><a href="{% url " landing_home" %}">Home</a></li>
                    <li><a href="{% url " landing_about" %}">About</a></li>
                    <li><a href="#">Catagory &dtrif;</a>
                        <ul class="dropdown">
                            <li><a href="#">Catagory 1</a></li>
                            <li><a href="#">Catagory 2</a></li>
                            <li><a href="#">Catagory 3</a></li>
                            <li><a href="#">Catagory 4</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url " landing_notice" %}">Contact US</a></li>

                </ul>
            </div>
            <i class="fas fa-bars" id="menuIcon"></i>
        </div>

        <div class="logo_title">
            <div class="logo"><img src="images/logo.jpeg" alt=""></div>
            <div class="logo_text">
                <h2 style="font-family: Plus Jakarta Sans;">Ratnasmriti Gems & Jewellers</h2>
            </div>
        </div>
        <div class="social_links">
            <a href="tel:+916291176902" title="Click Here to Call Us"><i class="fa-solid fa-square-phone"></i></a>
            <a href="https://www.facebook.com/rsjchannel/" target="_blank" title="Visit Our Facebook Page "><i
                    class="fa-brands fa-facebook"></i></a>
            <a href="https://youtu.be/Jgcmim_NTIM" target="_blank" title="Visite Our YouTube Channel"><i
                    class="fa-brands fa-youtube"></i></a>
            <a href="https://maps.app.goo.gl/4RfrmAmUnJcNtucw8" target="_blank"
                title="Click Here to See our Shop Location"><i class="fa-solid fa-location-dot"></i></a>
        </div>

        <div class="main_body">
            <div class="slider-container">
                <div class="image-container">
                    <img class="slimg" src="images/store1.jpeg" alt="image">
                    <img class="slimg" src="images/store1.jpeg" alt="image">
                    <img class="slimg" src="images/store1.jpeg" alt="image">
                    <img class="slimg" src="images/store1.jpeg" alt="image">
                    <img class="slimg" src="images/store1.jpeg" alt="image">
                </div>
                <i class="fas fa-angle-double-left btn prev"></i>
                <i class="fas fa-angle-double-right btn next"></i>
            </div>
            <div class="about_us">
                About Us :
                Established in 1998 , RATNASMRITI GEMS & JEWELLERS is a Bandel, Hooghly Based Business specializing in
                certified Gemstone , Natural Rudraksha , Government & International Laboratory Tasted Diamond . Renowned
                for its expertise Ratnasmriti Gems and Jewellers Boats a remarkable 5 star Ratings on Google .
                Solidifying it's position as a Top rated Gemstone Showroom in the City .
                Best Gemstone Shop in Bandel , Hooghly with a wild Range of Natural Gemstone including - Ruby(chuni),
                Emerald (panna) , yellow sapphire ( pokhraj ) , Blue Sapphire ( Neelam )
                Hessonite Garnet (gomed) , Red Coral (Lal Pola/moonga) ,pearl (moti/ mukto) , Diamond, Moonstone,
                Catseye, Zircon, Rudraksha as a much reasonable Compair to any other Gemstone Dealer in Bandel, Hooghly
                .

                We aslo have in-house astrology Consultation with Renowned Astrologer S.Sarkar .

                <div class="social_links">
                    <a href="tel:+916291176902" title="Click Here to Call Us"><i
                            class="fa-solid fa-square-phone"></i></a>
                    <a href="https://www.facebook.com/rsjchannel/" target="_blank" title="Visit Our Facebook Page "><i
                            class="fa-brands fa-facebook"></i></a>
                    <a href="https://youtu.be/Jgcmim_NTIM" target="_blank" title="Visite Our YouTube Channel"><i
                            class="fa-brands fa-youtube"></i></a>
                    <a href="https://maps.app.goo.gl/4RfrmAmUnJcNtucw8" target="_blank"
                        title="Click Here to See our Shop Location"><i class="fa-solid fa-location-dot"></i></a>
                </div>
            </div>
        </div>
    </div>
    <script src="home.js"></script>
</body>

</html>