@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
}

body{
    background-color: #EEE5DC;
}
.heading{
    text-align: center;
    font-size: 2rem;
    margin: 7px 0;
}
.container{
    display: flex;
    margin: 30px auto;
    box-shadow:0 0 25px #C0C2C3;
    height: 90vh;
    width: 80%;
    border: 2px solid black;
    background-color: white;
    justify-content: space-between;
    align-items: flex-start;
}
.picture {
    margin-top: 10px;
    margin-left: 20px;
    height: 80vh;
    width: 50%;
    max-width: 500px; /* Limit maximum width */
    border: 2px solid black;
    /* background-color: brown; */
}

.picture img{
    /* display:none; */
    height: 80vh;
    width: 100%;
    /* max-width:300px;
    max-height:300px */
}

.form-basic form {
    width: 50%;
    max-width: 500px; /* Limit maximum width */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.input {
    margin: 30px auto; /* Increase margin for better spacing */
}

.input > * {
    margin-bottom: 25px; /* Increase gap between elements */
}

.head{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 2px 5px;
}

.input select{
    height: 25px;
    width: 100%;
    border: 2px solid;
    border-radius:10px ;
    text-align: center;
}
.input input{
    height: 25px;
    width: 100%;
    border: 2px solid;
}

.btn{
    height: 35px;
    width: 50%;
    border-radius: 10px;
    background: #C0C2C3;
    font-size: 1rem;
    box-shadow:0 0 30px #C0C2C3;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.3,1.3);
    transition: 2s;
}
